/* Global View aka Desktop View */
/* Header style code #################       Start    */
.dropbtn {
  background-color: #9775db;
  box-shadow: 5px 3px 6px rgb(190, 183, 183);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin:0 5px;
  font-weight:bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute; 
  min-width: 160px;
  margin-left:-30px;
  border-radius: 6px;
  z-index: 1;
  padding-top:25px;
}

.dropdown-content a {
  background-color: #f1f1f1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:last-child{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.dropdown-content a:first-child{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.dropdown-content a:hover {background-color: #ddd;
color:#9775db;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:  #f1f1f1;
cursor:pointer;}
/* Header style code #################       end    */

.search-form{
  margin-left: 40px;
}
body {
    font-family: 'Roboto', sans-serif, Helvetica;
    color: black;
    background-color: #fff;
    background-color: #f8eded; 
}

.logo i{
    font-size: 3rem;
    color:#684E9C;
}
a {
    color: black;
    text-decoration: none;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
  }

.header-container {
  background-color: #fff;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #efefef;
  font-weight: bold;
  z-index: 1000;
}

header {
    max-width: 1144px;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}

.search{
    width:300px;
    height: 40px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    background-color: #efefef;
    margin-right: 20px;
} 

.boxing img {
    width: 100%;
    height: auto;
} 

.boxing p::first-line {
    font-weight: 700;
}
.boxing {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #9775db;
  border-radius: 10px;
  border: #9775db 0.115em solid;
  box-shadow: 8px 6px 7px rgb(190, 183, 183);
}

.boxing:hover {
  background-color: #e3d8ed;
  border: none;
}
.boxing img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.See {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  transform: translate(-110%, -100%);
  min-width: 5px;
  min-height: 5px;
  padding: 10px 15px;
  background-color: rgba(92, 35, 154, 0.3);
  color: #4f308c;
}

.See:hover {
  background-color: #e3d8ed;
}

.boxing p{
padding-top: 10px;
}

.boxing h2{
  margin-top: 10px;
}

.Math{
padding-bottom: 100px;
}

.Math p:first-child{
  text-align: left;
  padding-left: 10px;
  font-size: x-large;
  padding-bottom: 5px;
  font-weight: bold;
}
.Eng{
padding-bottom: 100px;
}

.Eng p:first-child{
  text-align: left;
  padding-left: 10px;
  font-size: x-large;
  padding-bottom: 5px;
  font-weight: bold;
}

.Science{
  padding-bottom: 100px;
}

.Science p:first-child{
  text-align: left;
  padding-left: 10px;
  font-size: x-large;
  padding-bottom: 5px;
  font-weight: bold;
}

.welcome{
    margin: 50px;
    font-weight: bold;
    font-size: 120px;
    color: #9775db;
    text-shadow: 6px 6px 8px rgb(205, 205, 84);
    margin-top: 110px;
}  

body {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
    font-size: 50;
}

  body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-image: url('images/background/pate-1.png');
    background-repeat: repeat;
  }

/* Tablet View */
@media (max-width: 768px){
}
/* Mobile View */
@media (max-width: 400px){
    
}
